.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.userWord {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  
}

.displayDiv {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreDiv {
  position: relative;
    width: 600px;
    height: 100px;
    margin: 15px;
    padding: 20px;
    border: 10px;
    display: flex;
    
}

.avatar {
  
}

.leaderboard {
  
  
}